/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.list-group-item {
    padding: 8px 10px;
}
.list-group .list-group-item.active {
    color: white;
}
i.fa.fa-sort:hover {
    cursor: pointer;
}
h3 {
    margin: 0;
}