<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <!-- Loading stylesheet for page -->
    <link rel="stylesheet" href="vendors/select2/select2-madmin.css"/>
    <link rel="stylesheet" href="vendors/bootstrap-select/bootstrap-select.css"/>
    <link rel="stylesheet" href="vendors/multi-select/css/multi-select-madmin.css"/>

    <link type="text/css" rel="stylesheet" href="vendors/animate.css/animate.css"/>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/style-responsive.css"/>
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css"/>
</head>
<body ng-app="todoService" ng-controller="MainTaskController">

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Add task
</button>

<!--Modal Header Color Primary-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="modal-header-primary-label" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="modal-header-primary-label" class="modal-title">New task</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form ng-submit="add()" id="addTaskForm" role="form" class="col-md-12" name="addTaskForm">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Title" ng-model="taskTitle"/>
                                    <hr/>
                                </div>
                                <div class="col-md-6">
                                    <select ng-model="cPriority" ng-options="priority.name for priority in priorities" data-style="btn-success" class="form-control">
                                        <option value="">PRIORITY</option>
                                    </select>
                                    <hr/>
                                </div>
                                <div class="col-md-4 col-md-offset-4">
                                    <ul style="list-style-type: none">
                                        <li>
                                            <input type="radio" id="square-radio-1" name="square-radio" ng-model="taskStatus" value="0">
                                            <label for="square-radio-1">TODO</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="square-radio-2" name="square-radio" ng-model="taskStatus" value="1">
                                            <label for="square-radio-2">PENDING</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="square-radio-3" name="square-radio" ng-model="taskStatus" value="2">
                                            <label for="square-radio-3">DONE</label>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" >Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <div ng-if="errorStat" class="alert alert-danger"><strong>Error!</strong> {{ text }}</div>

    <div>
       <div class="col-md-12" style="padding-top: 50px">
           <div class="col-lg-4">
               <div class="list-group">
                   <h3 class="text-center">
                       <a href="#" class="list-group-item active">
                           <span>TODO</span>
                       </a>
                   </h3>

                   <i ng-click="predicate = 'priority.power'; reverse=!reverse" class="fa fa-sort">&nbsp;Priority</i>
                   <i ng-click="predicate = 'title'; reverse=!reverse" class="fa fa-sort">&nbsp;Title</i>
                   <div ng-repeat="task in tasks | orderBy:predicate:reverse | filter:todo" style="margin-bottom: 3px">
                       <a href="#" class="list-group-item" ng-mouseover="editButton=true" ng-mouseleave="editButton=false">
                           <!-- editable priority task -->
                    <span editable-select="task.priority.power" e-name="power" e-form="rowform" e-ng-options="priority.power as priority.name for priority in priorities" class="label label-{{task.priority.color}} pull-left">
                        {{ task.priority.power}}
                    </span>
                           <!-- editable task title (title without validation) -->
                    <span editable-text="task.title" e-name="title" e-form="rowform">
                        &nbsp;{{ task.title}}
                    </span>
                    <span ng-show="rowform.$visible" class="pull-right">
                         <form editable-form name="rowform" onbeforesave="updateTask($data, task.task_id, 9)" shown="inserted == task">
                             <button ng-disabled="rowform.$waiting"  type="submit" class="btn btn-success"><i class="fa fa-check"></i></button>
                             &nbsp;
                             <button ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
                         </form>
                    </span>
                    <span ng-show="!rowform.$visible && editButton" class="pull-right">
                        <span class="badge badge-blue"><i class="fa fa-edit" ng-click="rowform.$show()"></i></span>
                        <span class="badge badge-red"><i class="fa fa-times" ng-click="removeTask(task.task_id)"></i></span>
                        <span ng-click="updateTask($data,task.task_id, task.status_id+1)" class="badge badge-success"><i class="fa fa-arrow-right"></i></span>
                    </span>
                       </a>
                   </div>
               </div>

           </div>
           <div class="col-lg-4">
               <div class="list-group">
                   <h3 class="text-center">
                       <a href="#" class="list-group-item active">
                           <span>PENDING</span>
                       </a>
                   </h3>
                   <i ng-click="predicate2 = 'priority.power'; reverse2=!reverse2" class="fa fa-sort">&nbsp;Priority</i>
                   <i ng-click="predicate2 = 'title'; reverse2=!reverse2" class="fa fa-sort">&nbsp;Title</i>
                   <div ng-repeat="task in tasks | orderBy:predicate2:reverse2 | filter:pending" style="margin-bottom: 3px">
                       <a href="#" class="list-group-item" ng-mouseover="editButton=true" ng-mouseleave="editButton=false">
                           <!-- editable priority task -->
                    <span editable-select="task.priority.power" e-name="power" e-form="rowform" e-ng-options="priority.power as priority.name for priority in priorities" class="label label-{{task.priority.color}} pull-left">
                        {{ task.priority.power}}
                    </span>
                           <!-- editable task title (title without validation) -->
                    <span editable-text="task.title" e-name="title" e-form="rowform">
                        &nbsp;{{ task.title}}
                    </span>
                    <span ng-show="rowform.$visible" class="pull-right">
                         <form editable-form name="rowform" onbeforesave="updateTask($data, task.task_id,9)" shown="inserted == task">
                             <button ng-disabled="rowform.$waiting"  type="submit" class="btn btn-success"><i class="fa fa-check"></i></button>
                             &nbsp;
                             <button ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
                         </form>
                    </span>
                    <span ng-show="!rowform.$visible && editButton" class="pull-right">
                        <span ng-click="updateTask($data,task.task_id, task.status_id-1)" class="badge badge-success"><i class="fa fa-arrow-left"></i></span>
                         <span class="badge badge-blue"><i class="fa fa-edit" ng-click="rowform.$show()"></i></span>
                        <span class="badge badge-red"><i class="fa fa-times" ng-click="removeTask(task.task_id)"></i></span>
                        <span ng-click="updateTask($data,task.task_id, task.status_id+1)" class="badge badge-success"><i class="fa fa-arrow-right"></i></span>
                    </span>
                       </a>
                   </div>
               </div>
           </div>
           <div class="col-lg-4">
               <div class="list-group">
                   <h3 class="text-center">
                       <a href="#" class="list-group-item active">
                           <span>DONE</span>
                       </a>
                   </h3>

                   <i ng-click="predicate1 = 'priority.power'; reverse1=!reverse1" class="fa fa-sort">&nbsp;Priority</i>
                   <i ng-click="predicate1 = 'title'; reverse1=!reverse1" class="fa fa-sort">&nbsp;Title</i>
                   <div ng-repeat="task in tasks | orderBy:predicate1:reverse1 | filter:done" style="margin-bottom: 3px">
                       <a href="#" class="list-group-item" ng-mouseover="editButton=true" ng-mouseleave="editButton=false">
                           <!-- editable priority task -->
                    <span editable-select="task.priority.power" e-name="power" e-form="rowform" e-ng-options="priority.power as priority.name for priority in priorities" class="label label-{{task.priority.color}} pull-left">
                        {{ task.priority.power}}
                    </span>
                           <!-- editable task title (title without validation) -->
                    <span editable-text="task.title" e-name="title" e-form="rowform">
                        &nbsp;{{ task.title}}
                    </span>
                    <span ng-show="rowform.$visible" class="pull-right">
                         <form editable-form name="rowform" onbeforesave="updateTask($data, task.task_id,9)" shown="inserted == task">
                             <button ng-disabled="rowform.$waiting"  type="submit" class="btn btn-success"><i class="fa fa-check"></i></button>
                             &nbsp;
                             <button ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
                         </form>
                    </span>
                    <span ng-show="!rowform.$visible && editButton" class="pull-right">
                        <span ng-click="updateTask($data,task.task_id, task.status_id-1)" class="badge badge-success"><i class="fa fa-arrow-left"></i></span>
                         <span class="badge badge-blue"><i class="fa fa-edit" ng-click="rowform.$show()"></i></span>
                        <span class="badge badge-red"><i class="fa fa-times" ng-click="removeTask(task.task_id)"></i></span>
                    </span>
                       </a>
                   </div>
               </div>
           </div>
       </div>
    </div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
    <script src="vendors/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular/angular-resource.min.js"></script>
    <script src="app.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/select2/select2.min.js"></script>
    <script src="vendors/bootstrap-select/bootstrap-select.js"></script>
    <script src="vendors/multi-select/js/jquery.multi-select.js"></script>
    <script src="js/ui-dropdown-select.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script>
    $('#addTaskForm').on('submit', function() {
        $('#myModal').modal('hide');

        $('#addTaskForm').each(function(){
            this.reset();
        });
    });

</script>
</body>
</html>
